header {
    max-width: 800px;
    margin: 0 auto;
    background-image: url("../images/28.jpg");
    height: 400px;
}
h1 {
    color: white;

}
header h2 {
    color: white;

}
main h2 {
    max-width: 600px;
    margin: 0 auto;
    color: black;
    padding: 10px;
}main h3 {
    max-width: 600px;
    margin: 0 auto;
    color: darkseagreen;
    padding: 10px;
}
ul {
    max-width: 600px;
    margin: 0 auto;
}
footer {
    max-width: 800px;
    margin: 0 auto;
    background-color: cadetblue;

}
footer p {
    color: white;
}
main p {
    max-width: 600px;
    margin: 0 auto;
    color: blue;
}